@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("~node_modules/vazirmatn/Vazirmatn-font-face.css");

body {
  font-family: vazirmatn;
  direction: rtl;
}

a {
  font-family: vazirmatn;
}

.ant-skeleton {
  width: 100% !important;
}

.ant-popover-inner{
  padding: 0 !important;
  overflow: hidden;
}
  
.ant-popover-inner-content{
  padding: 0 !important;


.ant-popover-inner{
  padding: 0 !important;

}