@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("~vazirmatn/Vazirmatn-Variable-font-face.css"); */

body {
  font-family: vazirmatn;
  direction: rtl;
}
/* Rectangle 13 */

.ant-skeleton {
  width: 100% !important;
}