.preQuestion {
  display: flex;
  text-align: center;
  justify-items: center;
  background-color: #555555;
  opacity: 0.6;
  border-radius: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 8px  14px;
  font-size: 14px;
  

}
.continue {
  display: flex;
  text-align: center;
  background-color: #40189e;
  border-radius: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 8px  14px;
  font-size: 14px;
  
}
.finishQuestion {
  display: flex;
  text-align: center;
  background-color: #f59e0b;
  border-radius: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 8px  14px;
  font-size: 14px;
  
}
.boxPreview {
  border-radius: 40px;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  
}
.examPage {
  border-radius: 40px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 420px;
  overflow: hidden;
  position: relative;
}
.links{
  display: flex;
 justify-content: space-between;
 margin-top: 23px;
}
.previewSkeleton{
  height: 100% !important;
  width: 100% !important;
}