.preQuestion {
  display: flex;
  text-align: center;
  justify-items: center;
  background-color: #555555;
  opacity: 0.6;
  padding: 8px 35px;
  padding-right: 4px;
  margin: 10px;
  border-radius: 30px;
  color: white;
}
.continue {
  display: flex;
  text-align: center;
  background-color: #40189e;
  padding: 8px 35px;
  margin: 10px;
  border-radius: 30px;
  color: white;
}
.finishQuestion {
  display: flex;
  text-align: center;
  background-color: #f59e0b;
  padding: 8px 35px;
  padding-right: 2px;
  margin: 10px;
  border-radius: 30px;
  color: white;
}
.boxPreview {
  border-radius: 40px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 530px;
}
.examPage {
  border-radius: 40px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 420px;
  overflow: hidden;
  position: relative;
}
.links{
  display: flex;
  justify-content: space-between;
}
.previewSkeleton{
  height: 100% !important;
  width: 100% !important;
}